@import "reset.css";
/*@import "_animation.less";*/
/*字体颜色*/
/*背景颜色*/
/*边框颜色*/
/*图标颜色*/
@-webkit-keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  80% {
    -webkit-transform: scaley(0.3);
    transform: scaley(0.3);
  }
  90% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  80% {
    -webkit-transform: scaley(0.3);
    transform: scaley(0.3);
  }
  90% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
html,
body {
  background: #eeeeee;
  font-size: 13px;
  height: 100%;
}
/*ul{ overflow: hidden;}*/
#mn {
  font-size: .8rem;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10rem;
}
.loading .loader {
  display: inline-block;
}
.loading .loader div {
  background: #ff7938;
  width: .4rem;
  height: 4rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  margin: .5rem;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  display: inline-block;
  animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
  -webkit-animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
}
.loading .loader div:nth-child(1),
.loading .loader div:nth-child(5) {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}
.loading .loader div:nth-child(2),
.loading .loader div:nth-child(4) {
  animation-delay: .25s;
  -webkit-animation-delay: .25s;
}
.loading p {
  padding: 2rem;
  font-size: 1.2rem;
  color: #989898;
}
.top .fm .player {
  padding-top: 270px;
}
.top .fm .player .pic {
  display: none;
}
.top .fm .player .player-ctrl {
  position: fixed;
  /*.fadeIn(0,-6rem); .animation(fadeIn .5s ease-in-out)*/
}
.top .fm .player .player-ctrl .progress {
  margin-top: 1rem;
}
.example h2 {
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
}
.example ul li {
  background: #ffffff;
  margin-top: .5rem;
  padding: .5rem;
  line-height: 1.5rem;
}
.example ul li h2 {
  text-align: left;
  color: #ff7938;
}
.example ul li h3 {
  font-weight: 500;
  font-size: 1.2rem;
}
.example ul li h4 {
  font-weight: 500;
}
.example ul li em {
  color: #6cbae5;
  padding-right: .5rem;
}
.api {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem;
}
.api h1 {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
.api textarea {
  width: 100%;
  height: 5rem;
  line-height: 1rem;
}
.api select {
  font-size: 1rem;
}
.api select option {
  font-size: .8rem;
}
.api p {
  min-height: 2rem;
  background: #ffffff;
}
.api .btn {
  display: block;
  margin: 0 3rem;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  background: #ff7938;
}
.fm {
  min-width: 300px;
  min-height: 100%;
}
.fm h2 {
  font-weight: 500;
  padding-left: .5rem;
  font-size: 1.2rem;
}
.fm .banner {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding: .8rem 0 0;
  text-align: center;
  overflow: hidden;
  background: #ffffff;
}
.fm .banner a {
  display: inline-block;
  width: 20%;
  background: #ffffff;
  text-align: center;
  line-height: 1.5rem;
}
.fm .banner a span {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  background: #f00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9999), to(#ff3333));
  background: -moz-linear-gradient(top, #ff9999, #ff3333);
}
.fm .banner a:nth-child(1) span {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b7d3ef), to(#65a1db));
  background: -moz-linear-gradient(top, #b7d3ef, #65a1db);
}
.fm .banner a:nth-child(2) span {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ecdba4), to(#dabb50));
  background: -moz-linear-gradient(top, #ecdba4, #dabb50);
}
.fm .banner a:nth-child(3) span {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5ecfcf), to(#2d9a99));
  background: -moz-linear-gradient(top, #5ecfcf, #2d9a99);
}
.fm .banner a:nth-child(4) span {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fb8f86), to(#f73524));
  background: -moz-linear-gradient(top, #fb8f86, #f73524);
}
.fm .banner a:nth-child(5) span {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c4da80), to(#9bbc38));
  background: -moz-linear-gradient(top, #c4da80, #9bbc38);
}
.fm .banner a img {
  display: block;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  width: 4rem;
}
.fm .banner h2 {
  text-align: left;
  line-height: 2rem;
  overflow: hidden;
  clear: both;
  background: #eeeeee;
}
.fm .hot {
  padding-top: 8.4rem;
}
.fm .player {
  padding-top: 0;
  /*&.top{ padding-top: 6.6rem;
      &.tips{ padding-top: 7.8rem;}
      >img{ display: none;}
      .player-ctrl{ position: fixed; top: 0; width: 100%;}

    }*/
}
.fm .player .pic {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.fm .player > img {
  display: none;
  width: 100%;
}
.fm .player .player-ctrl {
  background: #454545;
  padding: .3rem 0 0;
  box-shadow: 0 3px 5px #989898;
  position: relative;
  width: 100%;
  top: 0;
}
.fm .player .player-ctrl .progress {
  background: #313333;
  height: .2rem;
  line-height: .2rem;
  margin-top: 1rem;
  box-shadow: 1px 1px 1px #555555;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px #555555;
}
.fm .player .player-ctrl .progress .down {
  display: block;
  position: absolute;
  width: 0;
  height: .2rem;
  background: #555555;
}
.fm .player .player-ctrl .progress .cur {
  display: block;
  position: absolute;
  vertical-align: middle;
  height: .2rem;
  width: 0;
  background: #eeeeee;
}
.fm .player .player-ctrl .progress .cur:after {
  display: block;
  float: right;
  content: '';
  vertical-align: middle;
  height: .75rem;
  width: .75rem;
  margin: -0.275rem 0;
  border-radius: 1rem;
  background: #eeeeee;
}
.fm .player .player-ctrl .time {
  padding: .5rem;
  font-size: .7rem;
  color: #989898;
}
.fm .player .player-ctrl .time .count {
  float: right;
}
.fm .player .player-ctrl .pos {
  margin-top: -3.5rem;
  height: 3.5rem;
}
.fm .player .player-ctrl .btns {
  padding: .5rem 1.5rem .5rem;
  text-align: center;
  height: auto;
  overflow: hidden;
}
.fm .player .player-ctrl .btns a {
  display: inline-block;
  width: 19.3%;
  height: 2.5rem;
  overflow: visible;
  vertical-align: middle;
  font-size: .8rem;
  text-align: center;
}
.fm .player .player-ctrl .btns a.prev span {
  text-indent: -0.1rem;
}
.fm .player .player-ctrl .btns a.next span {
  text-indent: .05rem;
}
.fm .player .player-ctrl .btns span {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  overflow: hidden;
  padding: .5rem;
  font-size: .8rem;
  line-height: .8rem;
  border: 1px solid #ffffff;
  border-radius: 10rem;
  color: #ffffff;
}
.fm .player .player-ctrl .btns span.cur {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #a3d830;
  color: #a3d830;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: -0.4rem;
}
.fm .player .player-ctrl .btns span.none {
  /*border: none; font-size: 1.2rem;*/
}
.fm .player .player-ctrl .btns em {
  display: inline-block;
  color: #989898;
  line-height: 1.2rem;
  font-size: .8rem;
}
.fm .player .player-ctrl .status {
  display: none;
  position: absolute;
  width: 100%;
  bottom: -1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  color: #ff7938;
  background: #ffffaa;
  font-size: .8rem;
}
.fm .player .share-ctrl {
  height: 150px;
  padding-top: 30px;
  margin-top: -170px;
  text-align: center;
  opacity: .6;
}
.fm .player .share-ctrl .iconfont {
  display: inline-block;
  padding: 1rem;
  color: #fff;
  font-size: 4rem;
  border: .5rem solid #fff;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  border-radius: 4rem;
  box-shadow: 0 0 5px #333;
  text-shadow: 0 0 5px #333;
}
.fm .player .app-download {
  position: fixed;
  bottom: -0.1rem;
  width: 100%;
}
.fm .player .app-download img {
  width: 100%;
}
.fm .player.tips .btns {
  padding: .2rem 0 1.7rem;
}
.fm .player.tips .player-ctrl .status {
  display: block;
}
.fm .weixin {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  opacity: .9;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #5c5c5c;
}
.fm .weixin img {
  width: 100%;
}
.fm .icons {
  margin-top: 0;
}
.fm.search {
  padding-top: 3.6rem;
}
.fm.search .bar {
  padding: .8rem 0;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.fm.search .bar input {
  display: block;
  background: #fff;
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid #ccc;
  border-radius: .8rem;
}
.my .active {
  background: #ffffff;
  padding: 0 .5rem;
}
.my .active li {
  border-bottom: 1px solid #efefef;
  padding: .5rem 0;
}
.my .active li:last-child {
  border: none;
}
.my .active li .info {
  line-height: 3rem;
}
.my .active li .info .avatar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.my .active li .info .author {
  color: #dbc29a;
}
.my .active li .info .time,
.my .active li .info .status {
  float: right;
  padding-left: 1rem;
  font-size: .8rem;
}
.my .active li .info .time {
  color: #989898;
}
.my .active li p {
  padding-left: 2.5rem;
  text-indent: 1.6rem;
  font-size: .8rem;
  line-height: 1.2rem;
}
.my .group {
  background: #ffffff;
  padding: 0 .5rem;
}
.my .group li {
  padding: .5rem 0 0;
  border-bottom: 1px solid #efefef;
  line-height: 1.5rem;
}
.my .group li:last-child {
  border: none;
}
.my .group li h4 {
  font-weight: 500;
  text-align: left;
  font-size: .8rem;
  color: #ff7938;
}
.my .group li h3 {
  font-weight: 500;
  text-align: left;
  font-size: 1rem;
  color: #323333;
  line-height: 2rem;
}
.my .group li .cnt {
  font-size: .8rem;
  color: #989898;
  text-align: left;
  text-indent: 1.6rem;
}
.my .group li a.more {
  margin: 0 -0.5rem;
}
.my .plan {
  background: #ffffff;
  padding: .5rem .5rem 0;
  margin-bottom: .5rem;
}
.my .plan h3 {
  font-weight: 500;
  font-size: 1rem;
  color: #323333;
  line-height: 2rem;
}
.my .plan .progress {
  margin: 1rem .5rem;
  height: .3rem;
  background: #eeeeee;
  border-radius: 1rem;
}
.my .plan .progress .cur {
  display: block;
  width: 2rem;
  height: .3rem;
  background: #a3d830;
  border-radius: 1rem;
}
.my .plan .progress .cur:after {
  display: block;
  float: right;
  margin: -0.275rem -0.2rem 0;
  content: '';
  width: .6rem;
  height: .6rem;
  border-radius: .5rem;
  background: #ffffff;
  border: 0.2rem solid #eeeeee;
}
.my .plan .info {
  color: #989898;
  font-size: .8rem;
}
.my .plan .info .percent {
  float: right;
}
.my .plan .comment li {
  border-top: 1px solid #efefef;
  margin: 0;
}
.my .music li {
  position: relative;
}
.my .music li .operation {
  -webkit-transition: right .5s ease;
  transition: right .5s ease;
  position: absolute;
  right: -10rem;
  top: 0;
  height: 100%;
  background: #eeeeee;
  padding: 0 1rem;
}
.my .music li .operation .btn {
  display: block;
  line-height: 1.5rem;
  width: 6rem;
  color: #ffffff;
  text-align: center;
  margin: 1rem 0;
}
.my .music li .operation .btn.play {
  background: #4acc21;
}
.my .music li .operation .btn.del {
  background: #f95555;
}
.my .music li.cur .operation {
  right: 0;
}
.tt {
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
}
.tt .index > img {
  display: block;
  width: 100%;
}
.tt .index .bar {
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
}
.tt .index .bar a {
  width: 5rem;
  display: inline-block;
  margin: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
.tt .index .bar a img {
  width: 70%;
}
.tt .index .cnt {
  margin-top: .5rem;
  /*border-top: 1px solid @bd-cr-h1;*/
}
.tt .index .cnt h2 {
  font-weight: 500;
  background: #f9f9f9;
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}
.tt .detail {
  border-radius: 1rem;
  background: #ffffff;
  min-height: 100%;
  position: relative;
}
.tt .detail h2 {
  font-weight: 500;
  text-align: center;
  line-height: 4rem;
  color: #555555;
  font-size: 1.2rem;
  border-bottom: 1px solid #efefef;
}
.tt .detail p {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 1rem;
  text-indent: 1.6rem;
  color: #555555;
}
.tt .ctrl {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #efefef;
}
.tt .question {
  border-radius: 1rem;
  background: #ffffff;
  min-height: 100%;
  position: relative;
}
.tt .question h2 {
  font-weight: 500;
  text-align: center;
  line-height: 4rem;
  color: #555555;
  font-size: 1.2rem;
  border-bottom: 1px solid #efefef;
}
.tt .question p {
  font-weight: 500;
  line-height: 1.5rem;
  color: #323333;
  font-size: 1rem;
  padding: 1rem;
}
.tt .question .progress {
  color: #989898;
  padding: 1rem;
  overflow: hidden;
}
.tt .question .progress label {
  float: left;
  font-size: .8rem;
}
.tt .question .progress .bar {
  margin: .3rem 0 .3rem 6rem;
  height: .3rem;
  background: #eeeeee;
  border-radius: .3rem;
}
.tt .question .progress .bar .cur {
  float: left;
  height: .3rem;
  background: #f95555;
  border-radius: .3rem;
}
.tt .question .progress .bar .cur:after {
  display: block;
  content: '';
  float: right;
  background: #ffffff;
  width: .3rem;
  height: .3rem;
  border: .2rem solid #ccc;
  margin: -0.2rem;
  border-radius: .3rem;
}
.tt .question ul {
  padding-bottom: 2rem;
}
.tt .question ul li {
  line-height: 3rem;
  color: #989898;
  padding-left: 1.5rem;
}
.tt .question ul li input[type="radio"] {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  background: none;
}
.tt .question ul li input[type="radio"]:after,
.tt .question ul li input[type="radio"] checked:after {
  display: block;
  content: '\e614';
  width: 1rem;
  height: 1rem;
  background: none;
}
.tt .question ul li input[type="radio"]:checked:after {
  content: '\e602';
  color: #f46473;
}
.tt .question ul li label {
  padding-left: .5rem;
  font-size: 1rem;
}
.tt .result {
  margin: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  min-height: 90%;
}
.tt .result h2 {
  font-weight: 500;
  text-align: center;
  line-height: 4rem;
  color: #555555;
  font-size: 1rem;
}
.tt .result h3 {
  font-weight: 500;
  padding: 0 .5rem;
  font-size: .8rem;
  color: #ff7938;
  line-height: 2rem;
  border-top: 1px solid #efefef;
}
.tt .result p {
  font-size: 1rem;
  padding: 0 .5rem;
  line-height: 2rem;
  text-indent: 1.6rem;
}
.tt .result .btn {
  width: 6rem;
}
.tt .result .ctrl {
  position: inherit;
  line-height: 3rem;
  margin-left: -1rem;
  padding: 0;
}
.tt .result .ctrl .gray {
  display: block;
  width: 100%;
  margin-left: -1rem;
  background: #efefef;
  color: #989898;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tt .result .comment-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.tt .result .comment-box .comment-btn {
  display: block;
  background: #fff;
  width: 100%;
  border: 1px solid #4acc21;
  box-sizing: border-box;
  font-size: .8rem;
  margin-bottom: .5rem;
}
.tt .result .comment-box .comment-btn .iconfont {
  font-size: 1rem;
  padding-right: .5rem;
}
.tt .result .comment {
  background: #eee;
}
.tt .result .comment li {
  margin-bottom: 0;
  border-top: .5px solid #eee;
}
.tt .result .comment li .ctrl {
  padding: 0;
  margin: 0;
  border-top: none;
  line-height: 1.5rem;
}
.tt .result .comment li p {
  line-height: 1.2rem;
  font-size: .8rem;
  text-indent: 0;
  padding: 0;
  color: #555;
}
.tt .result .comment li a.more {
  background: none;
}
.tabs {
  line-height: 3rem;
}
.tabs .ti {
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
}
.tabs .ti span {
  float: left;
  border-bottom: 2px solid #cacaca;
  height: 3rem;
  overflow: hidden;
}
.tabs .ti span.cur {
  color: #ff7938;
  border-bottom: 2px solid #ff7938;
}
.tabs.col-2 .ti span {
  width: 50%;
}
.tabs.col-3 .ti span {
  width: 33.33%;
}
.tabs.col-4 .ti span {
  width: 25%;
}
.tabs.col-5 .ti span {
  width: 20%;
}
.vip {
  position: relative;
  overflow: hidden;
}
.vip:before {
  display: block;
  content: 'VIP';
  font-size: .7rem;
  line-height: 1.1rem;
  padding: 0 .1rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  color: #fff;
}
.vip:after {
  display: block;
  content: '';
  position: absolute;
  top: -2.4rem;
  left: -1.1rem;
  z-index: 998;
  width: 3rem;
  height: 4rem;
  background: #f95555;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.my-test {
  overflow: visible;
}
.my-test li {
  padding: 1rem 1rem .5rem;
  margin-bottom: .5rem;
  background: #ffffff;
}
.my-test li a {
  display: block;
  overflow: hidden;
}
.my-test li .avatar {
  float: left;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.my-test li .li-cnt {
  padding-left: 5rem;
  line-height: 2rem;
  margin: 0;
}
.my-test li .li-cnt h3 {
  font-weight: 500;
  color: #555555;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: .5rem;
}
.my-test li .li-cnt .icons {
  clear: none;
  margin: 0;
}
.my-test li .li-cnt .category {
  padding: .1rem .5rem;
  vertical-align: middle;
  /*margin: .1rem;*/
  color: #989898;
  font-size: .6rem;
  line-height: .8rem;
  border: 0.5px solid #6cbae5;
  border-radius: 2rem;
}
.list {
  overflow: visible;
}
.list li {
  margin-top: .5rem;
  background: #ffffff;
  padding: 1rem 1rem .5rem;
  overflow: hidden;
  clear: both;
}
.list li .avatar {
  float: left;
  width: 4rem;
  height: 4rem;
  border-radius: 2.5rem;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.list li .cnt {
  margin-left: 4.5rem;
  overflow: hidden;
}
.list li .cnt h3 {
  font-weight: 500;
  line-height: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: #555555;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list li .cnt .professor {
  float: right;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0 .5rem;
  color: #989898;
  font-size: .8rem;
}
.list li .category {
  border: 0.5px solid #6cbae5;
  border-radius: 1rem;
  padding: .1rem .5rem;
  line-height: .8rem;
  color: #989898;
  font-size: .6rem;
}
.article {
  padding-top: .5rem;
  background: #ffffff;
}
.article .icons {
  margin-top: 0;
}
.article article h1 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.2rem;
  text-align: center;
  padding-top: 1rem;
}
.article article h2 {
  font-weight: 500;
  font-size: .8rem;
  line-height: 1.5rem;
  color: #ff7938;
  text-align: center;
}
.article article .cnt {
  padding: 0 .5rem .5rem;
  text-indent: 1.6rem;
  line-height: 1.3rem;
  font-size: .8rem;
}
.article .ctrl {
  padding: .5rem;
  text-align: right;
  background: #f9f9f9;
}
.article .ctrl a {
  display: inline-block;
  text-align: center;
}
.article .ctrl em {
  font-size: .5rem;
}
#mn > .comment {
  position: relative;
}
.comment {
  height: 100%;
}
.comment li {
  line-height: 1.5rem;
  margin-bottom: .5rem;
  padding: .5rem;
  background: #ffffff;
}
.comment li .avatar {
  float: left;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.comment li .info {
  margin-left: 2.5rem;
}
.comment li .info .author {
  color: #ff7938;
  font-size: .9rem;
}
.comment li p {
  margin-left: 2.5rem;
  line-height: 1.2rem;
  font-size: .8rem;
  color: #555555;
}
.comment li .ctrl {
  overflow: hidden;
  padding: 0;
  margin-bottom: -0.5rem;
}
.comment li .ctrl .time {
  float: right;
  font-size: .8rem;
  color: #989898;
}
.comment .level-ctrl {
  font-size: 1.5rem;
  line-height: 4rem;
  text-align: center;
  color: #ff7938;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.comment .level-ctrl .iconfont {
  font-size: 1.5rem;
}
.comment .level-ctrl .icon-xingji {
  font-weight: 700;
}
.comment .level-ctrl .icon-xingji,
.comment .level-ctrl .icon-xingjiban {
  color: #ff7938;
}
.comment .level-ctrl .icon-xingjiline {
  color: #989898;
}
.comment form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 0 3rem;
  box-sizing: border-box;
}
.comment textarea {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.comment .ctrl {
  padding: .5rem 0;
  text-align: center;
}
.icons {
  margin-top: 1rem;
  line-height: 2rem;
  color: #989898;
  overflow: hidden;
  clear: both;
  font-size: .8rem;
}
.icons span {
  display: inline-block;
  padding: 0 .5rem;
  color: #989898;
  /* font-family: "宋体";*/
  font-size: .7rem;
  /*&.iconfont{ font-size: 1rem;}*/
}
.icons span.like .iconfont,
.icons span.comment .iconfont {
  font-size: .8rem;
}
.icons span.space {
  float: right;
}
.icons span.category {
  padding: .1rem .5rem;
  vertical-align: middle;
  /*margin: .1rem;*/
  color: #989898;
  font-size: .6rem;
  line-height: .8rem;
  border: 0.5px solid #6cbae5;
  border-radius: 2rem;
}
.icons .like,
.icons .comment,
.icons .time {
  float: right;
  padding: 0 .3rem;
}
.icons .icon-xin {
  color: #f46473;
}
.icons .icon-pinglun {
  color: #6cbae5;
}
.level {
  float: left;
  font-size: .8rem;
  line-height: 1.1rem;
  vertical-align: middle;
  color: #989898;
}
.level .iconfont {
  font-size: .8rem;
  vertical-align: middle;
}
.level em {
  vertical-align: middle;
}
.level .icon-xingji {
  font-weight: 700;
}
.level .icon-xingji,
.level .icon-xingjiban {
  padding: 0;
  color: #ff7938;
}
.level .icon-xingjiline {
  padding: 0;
  color: #989898;
}
a.more {
  display: block;
  font-size: 1rem;
  text-align: center;
  background: #eeeeee;
  color: #555555;
  line-height: 2rem;
  margin: -1rem;
  padding: .5rem 0 1.5rem;
}
.btn {
  display: inline-block;
  padding: .3rem 1rem;
  line-height: 1.5rem;
  border-radius: .4rem;
}
.btn.red {
  background: #f95555;
  color: #fff;
}
.btn.red-e {
  background: #ffffff;
  border: 1px solid #f95d5d;
  color: #f95d5d;
}
.btn.dis {
  background: #eeeeee;
  color: #989898;
}
.btn.green {
  background: #4acc21;
  color: #ffffff;
}
.btn.orange {
  background: #ff7938;
  color: #ffffff;
}
.btn.gray {
  background: #eeeeee;
  color: #ff7938;
}
.alert-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.alert-box .box {
  background: #fff;
  line-height: 2rem;
  padding: 1rem;
  margin: 10rem 2rem 0;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  border-radius: .5rem;
}
.alert-box .box p {
  text-align: center;
}
.alert-box .box .close {
  text-align: right;
}
.alert-box .box .close .iconfont {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: #ff7938;
}
.alert-box .box .btn {
  display: block;
  text-align: center;
  margin: 1rem 0;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.confirm-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.confirm-box .box {
  position: absolute;
  bottom: -10rem;
  width: 100%;
  background: #fff;
  line-height: 2rem;
  text-align: center;
  -webkit-transition: bottom .5s;
  -moz-transition: bottom .5s;
  -ms-transition: bottom .5s;
  -o-transition: bottom .5s;
  transition: bottom .5s;
}
.confirm-box .box h2 {
  font-weight: 500;
  padding: .5rem 1rem 0;
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
  color: #ff7938;
  border-bottom: 0.1rem solid #ff7938;
}
.confirm-box .box p {
  text-align: center;
  line-height: 1.5rem;
  padding: .5rem;
}
.confirm-box .box .btn {
  display: inline-block;
  width: 45%;
  text-align: center;
  margin: 1rem 0;
  border-radius: 1rem;
  box-sizing: border-box;
}
.confirm-box .box .btn.ok {
  background: #ff7938;
  color: #fff;
}
.confirm-box .box .btn.cancel {
  background: #eeeeee;
  color: #ff7938;
}
