html,body{padding: 0; margin:0; height: 100%; overflow: hidden;}
body{ color: #333; overflow-y:scroll; }
.cline{ clear: both; overflow: hidden;}
.header{ margin:0 auto; width:1000px; padding:20px 0; overflow: hidden;}
.header img{ float: left;}
.header h1{float:left; margin-top:35px; padding:10px 10px 0; font-weight:500; font-size:32px; border-right: 1px solid #ccc;}
.header h2{float:left; margin-top:55px; padding:0 10px; font-weight:500; font-size:20px;}
.header .tel{float:right; padding:0 10px; text-align: right; margin-top:40px; font-size:14px;}
.header .tel strong{ font-weight:500; font-size:20px; line-height:30px; color: #33cbcc;}
.header .tel-sign{ float: right; width:40px; margin-top: -20px; height:108px; background:  #33cbcc url("../images/tel.png") center 60px no-repeat;}

.nav{ background: #56707c;}
.nav .link{ margin:0 auto; width:1000px; text-align: right;}
.nav .link a{ display: inline-block; line-height:52px; font-size:20px; padding:0 20px; color: #fff;}
.nav .link a.cur{ background: #33cbcc;}

.slider{}
.slider img{ width:100%;}

.section{ width:1000px; margin:0 auto; padding-top:30px;}
.section.sup{ width:auto; background: url(../images/eap-sup-bg.png) center center no-repeat; height:648px;}
.section h2{ font-size:30px; font-weight:500; text-align: center; color: #999; line-height:110px;}
.section .line{ margin:0 auto; border-bottom: 1px solid #ccc;}
.section .line:before{ display: block; margin:0 auto; content: ''; width: 70px; height: 0; border-style: solid; border-width: 8px 8px 0 8px; border-color: #33cbcc transparent transparent transparent;}
.eap-none{ padding-top:50px; text-align: center;}
.eap-none a{ display: inline-block; width: 180px; text-align: center;}
.eap-none a:link,
.eap-none a:visited{ color: #999;}
.eap-none a:hover{ color: #33cbcc;}
.eap-none a h3{ font-weight:500; font-size:18px; padding:20px 0; line-height:26px;}
.eap-none a span{ display: inline-block; width: 130px; height: 150px; background-image: url("../images/bg-1.png")}
.eap-none a span.n1{}
.eap-none a:hover span.n1{ background-position: 0 -160px;}
.eap-none a span.n2{ background-position: -130px 0;}
.eap-none a:hover span.n2{ background-position: -130px -160px;}
.eap-none a span.n3{ background-position: -260px 0;}
.eap-none a:hover span.n3{ background-position: -260px -160px;}
.eap-none a span.n4{ background-position: -390px 0;}
.eap-none a:hover span.n4{ background-position: -390px -160px;}
.eap-none a span.n5{ background-position: -520px 0;}
.eap-none a:hover span.n5{ background-position: -520px -160px;}

.eap-sup{ position: relative; margin:0 auto; width: 1000px; height:100%;}
.eap-sup .ti{ position: absolute; width:360px; top:240px; left:0;}

.eap-sup .box{ position: absolute; width: 200px; height: 200px; border:1px solid #33cbcc; transform: rotate(45deg)}
.eap-sup .box.top{ width: 40px; height: 40px; left: 524px; top: 102px;}
.eap-sup .box.top .block{ width:38px; height: 38px; margin:-4px 0 0 8px; background: #33cbcc;}
.eap-sup .box.bottom{ width:40px; height:40px; left:528px; top:471px;}
.eap-sup .box.bottom .block{ width:20px; height:20px; margin:48px 0 0 0; border:1px solid #33cbcc;}

.eap-sup .box .cnt{ width: 240px; height: 220px; padding:10px 0; transform: rotate(-45deg)}
.eap-sup .box .cnt h3{ font-weight:500; font-size:22px; text-align: center; color: #33cbcc; padding:5px 0; line-height:30px;}
.eap-sup .box .cnt p { font-size:18px; color: #999; line-height:26px;}
.eap-sup .box:hover{ background: #33cbcc;}
.eap-sup .box.top:hover,
.eap-sup .box.bottom:hover{ background: none;}
.eap-sup .box:hover h3,
.eap-sup .box:hover p{ cursor: pointer; color: #fff;}
.eap-sup .box.n-1{ top: 60px; left:300px;}
.eap-sup .box.n-1 p{ padding-left: 30px;}
.eap-sup .box.n-2{ top: 60px; left:596px;}
.eap-sup .box.n-2 h3{ padding-top: 30px;}
.eap-sup .box.n-2 p{ padding-left: 20px;}
.eap-sup .box.n-3{ top: 208px; left: 448px;}
.eap-sup .box.n-3 h3{ padding-top: 30px;}
.eap-sup .box.n-3 p{ padding-left: 20px;}
.eap-sup .box.n-4{ top:208px; left:744px;}
.eap-sup .box.n-4 p{ padding-left: 20px;}
.eap-sup .box.n-5{ top:356px; left:300px;}
.eap-sup .box.n-5 h3{ padding-top:24px;}
.eap-sup .box.n-5 p{ padding-left:50px;}
.eap-sup .box.n-6{ top: 356px; left:596px;}
.eap-sup .box.n-6 h3{ padding-top:36px;}
.eap-sup .box.n-6 p{ padding-left:20px;}
.eap-sup ul{ padding-top:54px;}
.eap-sup ul li{ float: left; width:310px; margin-left:20px; padding:16px 0;}
.eap-sup ul li:before{ margin:0}
.eap-sup ul li img{ display: block; width: 100%;}
.eap-sup ul li span{ display: block; position: relative; height: 66px; padding-left:10px; overflow: hidden; line-height: 66px; background: rgba(0, 0, 0, .5); font-size: 20px; margin-top:-66px; color: #ffffff;}
.eap-sup ul li span img{ display: inline; width:auto; vertical-align: middle;}
.eap-sup ul li p{ font-size: 18px; line-height: 30px; color: #999999; padding:24px 0;}
.ask{ width: 100%; background: #60707d; padding:0; clear: both;}
.ask .cnt{ width: 960px; margin:0 auto; padding:10px 0;}
.ask h2{ font-size:22px; font-weight: 500; color: #fff; text-align: left; line-height:38px;}
.ask h3{ font-size:16px; font-weight: 500; color: #fff; line-height:22px;}
.ask .btn{ float: right; padding:0 20px; margin:10px 0; font-size: 24px; line-height: 40px; background: #fff; border-radius: 30px; color: #60707d;}
.join{ width: 960px; margin:0 auto;}
.join .col-3{ float: left; width:320px;}
.join .col-3 .box{ padding:20px 0;}
.join .col-3 .box h2{ height:90px; padding-left:90px; color: #33cbcc; font-size:24px; text-align: left; line-height:120px; background-image: url("../images/icon-bg.jpg"); background-repeat: no-repeat;}
.join .col-3 .box p{ font-size:18px; color: #999999; line-height:30px;}
.join .col-3 .box.b-1 h2{ background-position: 0 0;}
.join .col-3 .box.b-2 h2{ background-position: 0 -90px;}
.join .col-3 .box.b-3 h2{ background-position: 0 -180px;}
.join .col-3 .box.b-4 h2{ background-position: 0 -270px;}
.join .col-3.mid .box{ margin-top:100px; padding-top:120px; height:180px; color:#33cbcc; text-align: center; font-size:30px; line-height:40px; background: url("../images/circle.jpg");}

.program .list-1 { width: 960px; margin:70px auto 0; overflow: hidden; background: url("../images/arrow-bg.jpg") 10px 20px no-repeat;}
.program .list-1 li{ float: left; width:170px; font-size:24px; line-height:50px; color: #999999; text-align: center;}
.program .list-1 li:hover,
.program .list-1 li.cur{ color: #33cbcc;}
.program .list-1 li.n-1{ margin-left:-30px}
.program .list-1 li.n-6{ margin-right:-30px;}
.program .list-1 li span{ display: block; clear: both; margin:0 auto; height: 80px; width: 80px; background-image: url("../images/program-bg.jpg");}
.program .list-1 li.n-1 span{ background-position: 0 0;}
.program .list-1 li.n-2 span{ background-position: -80px 0;}
.program .list-1 li.n-3 span{ background-position: -160px 0;}
.program .list-1 li.n-4 span{ background-position: -240px 0;}
.program .list-1 li.n-5 span{ background-position: -320px 0;}
.program .list-1 li.n-6 span{ background-position: -400px 0;}
.program .list-1 li.n-1:hover span,
.program .list-1 li.n-1.cur span{ background-position: 0 -80px;}
.program .list-1 li.n-2:hover span,
.program .list-1 li.n-2.cur span{ background-position: -80px -80px;}
.program .list-1 li.n-3:hover span,
.program .list-1 li.n-3.cur span{ background-position: -160px -80px;}
.program .list-1 li.n-4:hover span,
.program .list-1 li.n-4.cur span{ background-position: -240px -80px;}
.program .list-1 li.n-5:hover span,
.program .list-1 li.n-5.cur span{ background-position: -320px -80px;}
.program .list-1 li.n-6:hover span,
.program .list-1 li.n-6.cur span{ background-position: -400px -80px;}
.program .list-2 { width:750px; padding:5px 105px; margin-top:50px; overflow: hidden; background: url("../images/arrow-bg-1.jpg") no-repeat;}
.program .list-2 li{ float: left; width: 250px;font-size:24px; line-height:30px; color: #999999; text-align: center;}
.program .list-2 li:hover,
.program .list-2 li.cur{ color: #33cbcc;}
.program .list-2 li span{ display: block; clear: both; width: 80px; height: 80px; margin:0 auto 10px; background: url("../images/program-bg.jpg")}
.program .list-2 li.n-1 span{ background-position: -480px 0;}
.program .list-2 li.n-2 span{ background-position: -560px 0;}
.program .list-2 li.n-3 span{ background-position: -640px 0;}
.program .list-2 li.n-1:hover span,
.program .list-2 li.n-1.cur span{ background-position: -480px -80px;}
.program .list-2 li.n-2:hover span,
.program .list-2 li.n-2.cur span{ background-position: -560px -80px;}
.program .list-2 li.n-3:hover span,
.program .list-2 li.n-3.cur span{ background-position: -640px -80px;}

.team ul{ width:960px; margin:0 auto 240px; border-bottom: 1px solid #ccc; height:103px; position: relative;}
.team ul li{ float: left; margin:35px; width: 136px; height:136px; overflow: hidden; -webkit-border-radius:70px; -moz-border-radius:70px; border-radius:70px;}
.team ul li:first-child{ margin-left: 0;}
.team ul li:last-child{ margin-right:0;}
.team ul li img{ width: 100%;}
/*.team ul li:hover .cnt,*/
.team ul li.cur .cnt{position: absolute; left:0; width:100%; text-align: center; padding-top:50px; line-height: 40px; color: #999999;}
.team ul li.cur .cnt h3{ font-size: 24px; font-weight: 500;}
.team ul li.cur .cnt p{ font-size: 18px;}
.team .tab{ text-align: center; padding-bottom:70px;}
.team .tab span{ display: inline-block; border:2px solid #999; color: #999; font-size: 24px; padding:10px; margin:0 20px;}
.team .tab span:hover,
.team .tab span.cur{ cursor: pointer; color: #33cbcc; border:2px solid #33cbcc;}

.example{ width:auto;}
.example h2,
.example h3,
.example p,
.example .box,
.example .line{ margin:0 auto; width:960px;}
.example h3{ padding-top:30px; line-height:60px; color: #33cbcc; font-size: 24px; font-weight: 500;}
.example p{ font-size: 18px; line-height: 30px; color: #999999; text-indent:36px;}
.example .bg{ width:100%;}
.example .box{ margin:-360px auto 0; width: 740px; position: relative;}
.example .box .tabs{ float: left; background: #ffffff; width: 360px; height: 340px; overflow: hidden; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.example .box .tabs span{ float: left; width: 50%; line-height: 40px; font-size: 24px; color: #ffffff; background: #666; text-align: center;}
.example .box .tabs span.cur{ background: #33cbcc;}
.example .box .tabs p{ padding:50px 20px 0; text-indent:0; line-height:30px; text-align: left;}
.example .box .tabs p strong{ color: #33cbcc;}
.example .box .tabs p em{ background: none; font-size:14px; color: #999999; text-align: left;}
.example .box .tabs ul{ display: none; padding:80px 0;}
.example .box .tabs ul li{ float: left; width: 130px; padding-left: 50px; line-height: 50px; font-size: 24px; color: #999999; background-image:url("../images/check-bg.jpg"); background-position: 0 -50px; background-repeat: no-repeat;}
.example .box .tabs ul li.check{ background-position: 0 0;}
.example .box .ask{ float: right; width:360px; background: none; clear: none}
.example .box .ask li{ float: left; width: 180px; color: #ffffff; font-size: 18px; line-height: 24px; text-align: center;}
.example .box .ask li strong{ font-weight: 500; font-size: 20px; line-height: 36px;}
.example .box .ask li span{ display: block; margin:0 auto; width: 110px; height: 110px; -webkit-border-radius:60px; -moz-border-radius:60px; border-radius:60px; background-image: url("../images/ask-bg.jpg");}
.example .box .ask li.n1 span{ background-position: -10px -10px;}
.example .box .ask li.n2 span{ background-position: -130px -10px;}
.example .box .ask li.n3 span{ background-position: -250px -10px;}
.example .box .ask li.n4 span{ background-position: -370px -10px;}

.friend{ margin-top:360px;}
.friend .cnt{ padding:70px 0; white-space: nowrap;}

.footer{ margin-top:100px; padding:30px 0 50px; background: #1e2128; color: #fff; font-size: 16px; line-height: 30px;}
.footer .cnt{ width: 960px; margin:0 auto;}
.footer .cnt img{ float: right; margin-top:-180px;}

.banner{ height: 450px;}
.banner.about{background: url("../images/banner-about.jpg") center center;}
.banner.question{ background: url("../images/banner-question.jpg") center center;}

#about .cnt{ padding:50px 0; color: #999999;}
#about p{ font-size: 18px; line-height: 30px; text-indent:36px; padding:10px 0;}
#about h3{ font-size: 24px; line-height: 30px; color: #33cbcc; font-weight:500;}
#about ul li{ line-height: 40px; font-size: 24px; line-height: 40px; color: #999999; padding-top:10px;}
#about ul li span{ display: inline-block; vertical-align: middle; width: 40px; height: 40px; background-image: url("../images/contact-bg.jpg");}
#about ul li.tel span{ background-position: 0 0;}
#about ul li.mail span{ background-position: -40px 0;}
#about ul li.address span{ background-position: -80px 0;}

#question h3{ font-size: 24px; color: #33cbcc; line-height: 44px; font-weight: 500;}
#question p{ font-size: 18px; line-height: 30px; padding: 10px 0; color: #999999;}

#eap p{ font-size: 18px; color: #999999; line-height:30px;}
#eap .box{ width: 960px; margin:0 auto;}
#eap .dir{ width: auto; background: #f4f8f8;}
#eap .dir ul{ padding: 40px 0;}
#eap .dir ul li{ font-size: 18px; line-height: 40px; color: #999999;}
#eap .dir ul li img{vertical-align: middle;}
#eap h3{ color: #999999; line-height:30px; font-size: 20px; text-align: center; font-weight: 500; padding-bottom: 30px; margin-top:-30px;}
#eap .service ul{ width: 450px; padding-top: 70px;}
#eap .service ul li{ overflow: hidden;}
#eap .service ul li h3{ font-size: 24px; color: #33cbcc; text-align: left; margin:0; padding-top: 30px;}
#eap .finish{ margin-top:70px; padding-top:0; background: #f4f8f8; overflow: hidden}
#eap .finish img{ float: left;}
#eap .finish p{ float: right; width: 420px; padding:70px 40px 70px 0;}